<div class="card">
  <div class="card-header p-3">
    <h2 class="card-title float-left m-0">Adicionar Planos</h2>
    <button type="button" class="close float-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" [(ngModel)]="entity.name" required name="name" class="form-control">
          </div>
          <div class="form-group">
            <label>ID do Plano no Pagar.me</label>
            <input type="number" [(ngModel)]="entity.pagarme_plan_id" required name="pagarme_plan_id" class="form-control">
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label>Preço</label>
            <input type="text" placeholder="R$ 0.00" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" [(ngModel)]="entity.price" required name="price" class="form-control">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Cupom</label>
            <input type="text" [(ngModel)]="entity.cupom" upperCase name="cupom" class="form-control">
            <small>Digite apenas se você quer que esse plano entre em um cupom</small>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Descrição</label>
            <textarea class="form-control" [(ngModel)]="entity.description" name="description" rows="4"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer p-3">
    <div class="float-right">
      <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
      <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
    </div>
  </div>
</div>