<app-page-header name="Detalhes do Cliente"></app-page-header>



<app-page-card customClass="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <form #form="ngForm">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-4">
              <li [ngbNavItem]="1">
                <a ngbNavLink>Dados de Cadastro</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Nome Completo</label>
                        <input type="text" [(ngModel)]="entity.name" name="name" required class="form-control">
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-control-label">E-mail</label>
                        <input type="email" required [(ngModel)]="entity.email" [disabled]="entity.id" (change)="onChangeEmail(entity.email)" name="email" autocomplete="false" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" class="form-control">
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-control-label">Data Nascimento</label>
                        <input type="date" required [(ngModel)]="entity.birth_date" name="birth_date" class="form-control">
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-control-label">Gênero</label>
                        <select class="form-control" required [(ngModel)]="entity.gender" name="gender">
                          <option value="masculino">Masculino</option>
                          <option value="feminino">Feminino</option>
                          <option value="outros">Outros</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-control-label">Whatsapp</label>
                        <input type="text" (change)="onChangeWhatsapp(entity.phone)" required [dropSpecialCharacters]="true" prefix="+55 " mask="(00) 0 0000-0000" placeholder="+55 (##) # ####-####" [(ngModel)]="entity.phone" name="phone" class="form-control">
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-control-label">CPF</label>
                        <input type="text" required [dropSpecialCharacters]="true" [disabled]="entity.id" mask="000.000.000-00" placeholder="###.###.###-##" [(ngModel)]="entity.cpf" (change)="onChangeCPF(entity.cpf)" name="cpf" class="form-control">
                        <small *ngIf="onError.cpf === true" class="text-danger">O CPF informado é inválido</small>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-control-label">CEP</label>
                        <input type="text" required [dropSpecialCharacters]="true" mask="00.000-000" placeholder="##.###-###" [(ngModel)]="entity.address.zipcode" (change)="onChangeCEP(entity.address.zipcode)" name="zipcode" class="form-control">
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-control-label">Bairro</label>
                        <input type="text" required [(ngModel)]="entity.address.neighborhood" name="neighborhood" class="form-control">
                      </div>
                    </div>

                    <div class="col-9">
                      <div class="form-group">
                        <label class="form-control-label">Endereço</label>
                        <input type="text" required [(ngModel)]="entity.address.street" name="street" class="form-control">
                      </div>
                    </div>

                    <div class="col-3">
                      <div class="form-group">
                        <label class="form-control-label">Número</label>
                        <input type="text" required [(ngModel)]="entity.address.street_number" name="street_number" class="form-control">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Situação do Plano</label>
                        <select class="form-control" required [(ngModel)]="entity.plan_situation" name="plan_situation">
                          <option value="paid" class="text-success">Pago</option>
                          <option value="unpaid" class="text-danger">Não Pago</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-control-label">Data Vencimento Plano</label>
                        <input type="datetime-local" required [(ngModel)]="entity.current_period_end" name="current_period_end" class="form-control">
                      </div>
                    </div>


                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Senha</label>
                        <input type="password" required [(ngModel)]="entity.password" name="apelido" class="form-control">
                        <small *ngIf="passwordConfirmation && entity.password != passwordConfirmation" class="text-danger">As senhas informadas não são iguais.</small>
                      </div>

                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Confirmação da Senha</label>
                        <input type="password" [(ngModel)]="passwordConfirmation" name="apelido" class="form-control">
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2" *ngIf="entity.id">
                <a ngbNavLink>Histórico de Pagamentos</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-12">
                      <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel id="static-{{ index }}" *ngFor="let item of payments; let index = index">
                          <ng-template ngbPanelTitle>
                            <div class="d-flex flex-row align-items-center">
                              <ng-container *ngIf="item.gateway_data.status">
                                <i *ngIf="item.gateway_data.status == 'trialing'" class="fas fa-2x fa-clock text-warning mr-3"></i>
                                <i *ngIf="item.gateway_data.status == 'canceled'" class="fas fa-2x fa-ban text-danger mr-3"></i>
                                <i *ngIf="item.gateway_data.status == 'paid'" class="fas fa-2x fa-check-circle text-success mr-3"></i>
                                <i *ngIf="item.gateway_data.status == 'unpaid'" class="fas fa-2x  fa-exclamation-triangle text-primary mr-3"></i>
                                <i *ngIf="item.gateway_data.status == 'ended'" class="fas fa-2x fa-hourglass-end text-danger mr-3"></i>
                              </ng-container>
                              <ng-container *ngIf="item.gateway_data.current_status">
                                <i *ngIf="item.gateway_data.current_status == 'trialing'" class="fas fa-2x fa-clock text-warning mr-3"></i>
                                <i *ngIf="item.gateway_data.current_status == 'canceled'" class="fas fa-2x fa-ban text-danger mr-3"></i>
                                <i *ngIf="item.gateway_data.current_status == 'paid'" class="fas fa-2x fa-check-circle text-success mr-3"></i>
                                <i *ngIf="item.gateway_data.current_status == 'unpaid'" class="fas fa-2x  fa-exclamation-triangle text-primary mr-3"></i>
                                <i *ngIf="item.gateway_data.current_status == 'ended'" class="fas fa-2x fa-hourglass-end text-danger mr-3"></i>
                              </ng-container>



                              <h4 class="m-0 mr-3">
                                {{ item.gateway_data.date_created || item.gateway_data.subscription.date_created | date }}
                              </h4>
                              <h4 class="text-muted m-0" *ngIf="item.gateway_data.status">
                                <label *ngIf="item.gateway_data.status == 'canceled'">
                                  Inscrição cancelada
                                </label>
                                <label *ngIf="item.gateway_data.status == 'paid'">
                                  Inscrição Paga
                                </label>
                                <label *ngIf="item.gateway_data.status == 'trialing'">
                                  Em Período de Testes
                                </label>
                                <label *ngIf="item.gateway_data.status == 'unpaid'">
                                  Pagamento Pendente
                                </label>
                                <label *ngIf="item.gateway_data.status == 'ended'">
                                  Plano Finalizado
                                </label>
                              </h4>
                              <h4 class="text-muted m-0" *ngIf="item.gateway_data.current_status">
                                <label *ngIf="item.gateway_data.current_status == 'canceled'">
                                  Inscrição cancelada
                                </label>
                                <label *ngIf="item.gateway_data.current_status == 'paid'">
                                  Inscrição Paga
                                </label>
                                <label *ngIf="item.gateway_data.current_status == 'trialing'">
                                  Em Período de Testes
                                </label>
                                <label *ngIf="item.gateway_data.current_status == 'unpaid'">
                                  Pagamento Pendente
                                </label>
                                <label *ngIf="item.gateway_data.current_status == 'ended'">
                                  Plano Finalizado
                                </label>
                              </h4>
                            </div>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <ng-container *ngIf="!item.gateway_data.subscription">
                              <div class="col-4">
                                <b>Bandeira:</b> {{ item.gateway_data.card_brand }}
                              </div>
                              <div class="col-4">
                                <b>Últimos Digitos:</b> {{ item.gateway_data.card_last_digits }}
                              </div>
                              <div class="col-4">
                                <b>Valor:</b> {{ item.gateway_data.plan.amount/100 | currency:'R$ ' }}
                              </div>
                            </ng-container>

                            <ng-container *ngIf="item.gateway_data.subscription">
                              <div class="col-4">
                                <b>Bandeira:</b> {{ item.gateway_data.subscription.card_brand }}
                              </div>
                              <div class="col-4">
                                <b>Últimos Digitos:</b> {{ item.gateway_data.subscription.card_last_digits }}
                              </div>
                              <div class="col-4">
                                <b>Valor:</b> {{ item.gateway_data.subscription.plan.amount/100 | currency:'R$ ' }}
                              </div>
                            </ng-container>

                          </ng-template>
                        </ngb-panel>
                      </ngb-accordion>
                      <!-- <div class="card card-frame mb-2">
                       
                      </div> -->
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>


          </form>
        </div>
        <div class="card-footer text-right" ngbTooltip="Preencha todos os campos obrigatórios antes de salvar" [disableTooltip]="!form.invalid">
          <button class="btn btn-danger mr-2" [routerLink]="['/clients']">Voltar</button>
          <button class="btn btn-success" [disabled]="(form.valid && entity.password != passwordConfirmation) || (!form.valid) || onError.cpf === true" *ngIf="!entity.id" (click)="save()">Salvar</button>
          <button class="btn btn-success" [disabled]="form.invalid" *ngIf="entity.id" (click)="update()">Atualiza</button>
        </div>
      </div>
    </div>
  </div>
</app-page-card>