<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 float-left">Empresas</h3>
          <ng-container *ngIf="global.isAdmin()">
            <button [routerLink]="['/gerencial/empresas/novo']" class="btn btn-sm btn-primary float-right">Adicionar</button>
          </ng-container>
        </div>
        <div class="table-responsive">
          <ng-container *ngIf="!data">
            <div class="row container-fluid">
              <div class="col-md-12">
                <ngx-skeleton-loader [theme]="{width:'100%', height:'80px'}" animation="progress" count="10"></ngx-skeleton-loader>
              </div>
            </div>
          </ng-container>

          <table class="table align-items-center table-flush" *ngIf="data">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <!-- <th scope="col">QRCode</th> -->
                <th scope="col">Nome</th>
                <th class="text-center" scope="col">Tipo Fila</th>
                <th class="text-center" scope="col">Cadastro</th>
                <!-- <th class="text-center" scope="col">Atualizacao</th> -->
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input [(ngModel)]="search.id" name="id" type="text" class="form-control form-control-sm">
                </td>
                <td>
                  <input [(ngModel)]="search.nome" name="nome" type="text" placeholder="Pesquise a empresa por nome e pressione enter" class="form-control form-control-sm">
                </td>
              </tr>
              <ng-container *ngFor="let item of data">
                <tr>
                  <td width="5%">
                    {{ item.id }}
                  </td>
                  <!-- <td width="7%">
                                        <a [href]="item.qrcode_reference | getFile" download="{{item.nome}}.png" target="_blank"><img ngbTooltip="Clique para baixar o QRCode da empresa {{item.nome}}" width="100%" [src]="item.qrcode_reference | getFile" class="img img-thumbnail img-responsive" alt="QRCode"></a>
                                    </td> -->
                  <td>
                    <b [routerLink]="['/gerencial/empresas/visualizar/', item.id]" class="clickable text-primary">{{ item.nome }}</b>
                  </td>
                  <td class="text-center">
                    <span class="badge badge-success" *ngIf="item.tipo_fila == 1">Por usuário</span>
                    <span class="badge badge-primary" *ngIf="item.tipo_fila == 2">Por setor</span>
                  </td>
                  <td class="text-center">{{ item.created_at | amTimeAgo }}</td>
                  <!-- <td class="text-center">{{ item.updated_at | amTimeAgo }}</td> -->
                  <td class="text-center">
                    <!-- <button class="btn btn-icon btn-sm btn-2 btn-danger" type="button" (click)="generateQRCode(item.id)" ngbTooltip="Re-gerar QRCode, o QRCode antigo se tornará inválido">
                                            <span class="btn-inner--icon"><i class="fa fa-qrcode"></i></span>
                                        </button> -->
                    <a class="btn btn-icon btn-sm btn-2 btn-success" target="_blank" href="{{apiUrl + '/redirecionar/' + item.id}}" ngbTooltip="Ver página QRCode">
                      <span class="btn-inner--icon"><i class="fa fa-laptop"></i></span>
                    </a>
                    <button *ngIf="global.isManager()" class="btn btn-icon btn-sm btn-2 btn-primary" [routerLink]="['/gerencial/empresas/visualizar/', item.id]" ngbTooltip="Editar" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                    </button>
                    <button *ngIf="global.isAdmin()" (click)="delete(item.id)" class="btn btn-icon btn-sm btn-2 btn-danger" type="button" ngbTooltip="Remover">
                      <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" [class.disabled]="actualPage <= 1" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <ng-container *ngFor="let item of totalPages; let i = index">
                <li class="page-item" [class.active]=" i + 1 == actualPage">
                  <a class="page-link" (click)="getPaginate(i + 1)">{{ i + 1 }}</a>
                </li>
              </ng-container>
              <li class="page-item">
                <a class="page-link" (click)="getPaginate(actualPage + 1)" [class.disabled]="actualPage >= lastPage" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>