<app-page-header name="Painel de Análises" description="Gerenciei todas as análises da Plataforma">
</app-page-header>

<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 float-left">Análises</h3>
          <button [routerLink]="['details']" class="btn btn-sm btn-primary float-right">Adicionar Análise</button>
          <!-- <button (click)="open()" class="btn btn-sm btn-default float-right  mr-2">Filtrar</button> -->
        </div>

        <div class="d-flex p-2 flex-row align-items-end mb-3">
          <div class="flex-grow-1 m-1">
            <label class="form-control-label">Tipo de Mercado</label>
            <select class="form-control form-control-sm" name="market_type" [(ngModel)]="filter.market_type">
              <option value="futuro">Futuro</option>
              <option value="a vista">Á Vista</option>
            </select>
          </div>
          <div class="flex-grow-1 m-1">
            <label class="form-control-label">Tipo de Operação</label>
            <select class="form-control form-control-sm" name="operation_type" [(ngModel)]="filter.operation_type">
              <option value="long">Long</option>
              <option value="short">Short</option>
            </select>
          </div>
          <div class="flex-grow-1 m-1">
            <label class="form-control-label">Par de Moedas</label>
            <select class="form-control form-control-sm" name="coin_pairs_id" [(ngModel)]="filter.coin_pairs_id">
              <option [value]="item.id" *ngFor="let item of coinPairs">{{ item.name }}</option>
            </select>
          </div>
          <div class="flex-grow-1 m-1">
            <label class="form-control-label">Trader</label>
            <select class="form-control form-control-sm" name="user_id" [(ngModel)]="filter.user_id">
              <option [value]="item.id" *ngFor="let item of users">{{ item.name }}</option>
            </select>
          </div>
          <div class="m-1">
            <label class="form-control-label">Data Análise</label>
            <input type="date" class="form-control form-control-sm" name="created_at" [(ngModel)]="filter.created_at" >
          </div>
          <div class="m-1">
            <button class="btn btn-sm btn-primary" (click)="get(filter)"><i class="fas fa-search"></i></button>
            <button *ngIf="isFiltered" class="btn btn-sm btn-danger" (click)="clear(); get()"><i class="fas fa-times"></i></button>
          </div>
        </div>

        <div class="table-responsive">
          <ng-container *ngIf="!data || loading">
            <div class="row container-fluid">
              <div class="col-12">
                <ngx-skeleton-loader [theme]="{width:'100%', height:'80px'}" animation="progress" count="6"></ngx-skeleton-loader>
              </div>
            </div>
          </ng-container>

          <table class="table align-items-center table-flush" *ngIf="data">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Par de Moedas</th>
                <th scope="col">Tipo de Mercado</th>
                <th scope="col">Trader</th>
                <th scope="col">Data Cadastro</th>
                <th scope="col">Data Atualização</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of data.data">
                <tr>
                  <td>
                    {{ item.id }}
                  </td>
                  <td>
                    <a class="click" [routerLink]="['details', item.id]">{{ item.coin_pair.name }}</a>
                  </td>
                  <td class="text-uppercase">{{ item.market_type }}</td>
                  <td>{{ item.user.name }}</td>
                  <td>
                    {{ item.created_at | amTimeAgo }}
                  </td>
                  <td>
                    {{ item.updated_at | amTimeAgo }}
                  </td>
                  <td class="text-right">
                    <button class="btn btn-icon btn-sm btn-2 btn-primary" [routerLink]="['details', item.id]" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                    </button>
                    <button class="btn btn-icon btn-sm btn-2 btn-danger" (click)="delete(item.id)" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                    </button>
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>

          <app-empty-data text="Nenhum cliente foi encontrado" description="Nenhum cliente foi importado até o momento." *ngIf="data && data.length <= 0"></app-empty-data>
        </div>
        <div class="card-footer py-4">

        </div>
      </div>
    </div>
  </div>
</div>