<block-ui>

  <div class="header py-4 py-lg-4">
    <div class="container">
      <div class="header-body text-center mb-6">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6 mb-5 mt-2">
            <img src="assets/img/brand/oromadre-white.png" width="60%" alt="">
            <!-- <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 mt-4">
        <div class="card shadow">
          <div class="card-body mt-2">
            <form #form="ngForm">
              <div class="row">
                <div class="col">
                  <h3>Metodo de Pagamento.</h3>
                </div>
              </div>
              <div class="row text-center mt-2" *ngIf="plan">
                <div class="col-12">
                  <div class="display-1">{{ plan.price | currency: 'R$ ' }}<small>/mês</small></div>
                </div>
                <div class="col-12">
                  <p>{{ plan.description }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mb-3">
                  <b>Você tem um cupom de desconto? Clique <a class="text-primary clickable" (click)="openModalPlanCupom()">aqui</a> para informar o cupom</b>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mb-3">
                  <label>Selecione o seu metódo de pagamento</label>
                </div>
                <div class="col-6">
                  <div class="card card-frame">
                    <div class="card-header">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="credit-card" value="credit-card" [(ngModel)]="entity.payment_method" name="payment-method" class="custom-control-input">
                        <label class="custom-control-label" for="credit-card"><b>Cartão de Crédito</b></label>
                      </div>
                    </div>
                    <div class="card-body text-center">
                      <img class="img-responsive" width="50%" src="https://www.flaticon.com/svg/static/icons/svg/1087/1087117.svg" alt="">
                      <!-- Acesso instântaneo a plataforma após a confirmação do pagamento pelo seu banco. -->
                    </div>
                  </div>
                </div>
                <div class="col-6" ngbTooltip="Disponível em breve">
                  <div class="card card-frame disabled" >
                    <div class="card-header">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="boleto" value="boleto" [(ngModel)]="entity.payment_method" name="payment-method" class="custom-control-input">
                        <label class="custom-control-label" disabled for="boleto"><b>Boleto Bancário</b></label>
                      </div>
                    </div>
                    <div class="card-body text-center">
                      <img class="img-responsive"  width="50%" src="https://www.flaticon.com/svg/static/icons/svg/2541/2541979.svg" alt="">
                      <!-- Após o pagamento é necessário esperar até 3 dias para a compensassão do pagamento. -->
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer py-4">
            <div class="float-right">
              <button type="button" class="btn btn-danger" [routerLink]="['/login']">Voltar</button>
              <button type="button" class="btn btn-primary" [routerLink]="['/payment-plan', entity.payment_method]" [disabled]="!entity.payment_method">Continuar para Pagamento</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>