<app-page-header name="Clientes" description="Gerencie todos os clientes">
</app-page-header>

<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 float-left">Clientes</h3>
          <button [routerLink]="['new']" class="btn btn-sm btn-primary float-right">Adicionar</button>
        </div>

        <div class="d-flex p-2 flex-row align-items-end mb-3">
          <div class="flex-grow-1 m-1">
            <label class="form-control-label">Nome</label>
            <input type="text" upperCase [(ngModel)]="filter.name" class="form-control form-control-sm">
          </div>
          <div class="flex-grow-1 m-1">
            <label class="form-control-label">E-mail</label>
            <input type="text" upperCase [(ngModel)]="filter.email" class="form-control form-control-sm">
          </div>
          <div class="flex-grow-1 m-1">
            <label class="form-control-label">Situação</label>
            <select class="form-control form-control-sm" name="plan_situation" [(ngModel)]="filter.plan_situation">
              <option value="paid">Pago</option>
              <option value="unpaid">Não Pago</option>
            </select>
          </div>
          <div class="m-1">
            <label class="form-control-label">Data Cadastro</label>
            <input type="date" class="form-control form-control-sm" name="created_at" [(ngModel)]="filter.created_at">
          </div>
          <div class="m-1">
            <button class="btn btn-sm btn-primary" (click)="get()"><i class="fas fa-search"></i></button>
            <button class="btn btn-sm btn-info" (click)="clear(); get()"><i class="fas fa-sync-alt"></i></button>
          </div>
        </div>

        <div class="table-responsive">
          <ng-container *ngIf="!data">
            <div class="row container-fluid">
              <div class="col-12">
                <ngx-skeleton-loader [theme]="{width:'100%', height:'80px'}" animation="progress" count="6"></ngx-skeleton-loader>
              </div>
            </div>
          </ng-container>

          <table class="table align-items-center table-flush" *ngIf="data">
            <thead class="thead-light">
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Nome</th>
                <th scope="col">Plano</th>
                <th scope="col">E-mail</th>
                <th scope="col">Situação</th>
                <th scope="col">Vencimento</th>
                <th scope="col">Data Cadastro</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of data">
                <tr>
                  <!-- <td>
                    {{ item.id }}
                  </td> -->
                  <td> <a class="click title-case" [routerLink]="['details', item.id]">{{ item.name | titlecase }}</a></td>
                  <td>{{ item.plan.name }}</td>
                  <td> {{ item.email }}</td>
                  <td class="text-center">
                    <span class="badge badge-pill badge-success text-uppercase" *ngIf="item.plan_situation == 'paid' ">Pago</span>
                    <span class="badge badge-pill badge-danger" *ngIf="item.plan_situation == 'unpaid'">Não Pago</span>
                    <span class="badge badge-pill badge-warning" *ngIf="item.plan_situation == 'trialing'">Trial</span>
                    <span class="badge badge-pill badge-danger" *ngIf="item.plan_situation == 'canceled'">Cancelado</span>
                  <td>
                    <span *ngIf="item.trial_enabled == 0">{{ item.current_period_end | amTimeAgo }}</span>
                    <span *ngIf="item.trial_enabled == 1">{{ item.trial_days_ended | amTimeAgo }}</span>
                  </td>
                  <td class="text-right">
                    <button class="btn btn-icon btn-sm btn-2 btn-primary" [routerLink]="['details', item.id]" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                    </button>
                    <button class="btn btn-icon btn-sm btn-2 btn-danger" (click)="delete(item.id)" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                    </button>
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>

          <app-empty-data text="Nenhum cliente foi encontrado" description="Nenhum cliente foi importado até o momento." *ngIf="data && data.length <= 0"></app-empty-data>
        </div>
        <div class="card-footer py-4">

        </div>
      </div>
    </div>
  </div>
</div>