<ng-container>
  <nav *ngIf="pagination">
    <ul *ngIf="paginate" class="pagination">
      <!-- <code>{{pagination | json}} / {{pagination.current}} / {{paginate.indexOf(pagination.current)}}</code> -->
      <li class="page-item"><a class="page-link" (click)="doPageChange(pagination.current_page-1)"><i class="fa fa-chevron-left"></i></a></li>
      <li *ngFor="let page of paginate" class="page-item" [class.active]="(page == pagination.current_page) || ((page == 0) && (paginate.indexOf(pagination.current) < 0))">
        <a *ngIf="page != 0" class="page-link" (click)="doPageChange(page)">{{page}}</a>
        <ng-container *ngIf="(page == 0) && (paginate.indexOf(pagination.current_page) < 0)">
          <a class="page-link mx-2">{{pagination.current_page}}</a>
        </ng-container>
        <a *ngIf="(page == 0) && (paginate.indexOf(pagination.current_page) >= 0)" class="page-link mx-2">...</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="doPageChange(pagination.current_page-(-1))"><i class="fa fa-chevron-right"></i></a></li>
    </ul>
  </nav>
</ng-container>