<div class="container">
    <div class="row mx-auto p-5">
        <div class="col-md-8 mx-auto text-center">
            <img [src]="image" width="30%" alt="">
            <h1 class="mt-2" [innerHTML]="text"></h1>
            <p [innerHTML]="description"></p>
            <button class="btn btn-primary" *ngIf="ctaRoute" [routerLink]="ctaRoute"> <i class="{{ ctaIcon }}"></i> {{ ctaText }}</button>
        </div>
    </div>
</div>