<ng-container *ngIf="user">
  <div class="alert alert-primary" role="alert" *ngIf="user.trial_enabled === 1">
    <small class="alert-inner--text"> Você está utilizando o período de testes da plataforma. Você ainda tem <b>{{ user.hours_left }} horas</b></small>
  </div>
</ng-container>

<ngx-skeleton-loader animation="progress" *ngIf="!user" [theme]="{height:'150px'}"></ngx-skeleton-loader>