<div class="header pb-3 pt-1 pt-lg-1 d-flex align-items-center"
  style="min-height: 240px; background-image: url(assets/img/theme/background.jpeg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-primary opacity-8"></span>
  <!-- Header container -->
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Configurações de Administrador</h3>
            </div>
            <div class="col-4 text-right">
              <button (click)="save()" class="btn btn-sm btn-primary" [disabled]="form.invalid" >Salvar</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #form="ngForm">
            <h6 class="heading-small text-muted mb-4">Servidor SMTP</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">URL Padrão</label>
                    <input type="text" [(ngModel)]="entity.main_url" name="main_url" required class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Servidor SMTP</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Nome de Indetificação</label>
                    <input type="text" [(ngModel)]="entity.smtp_nome" name="smtp_nome" class="form-control">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Host</label>
                    <input type="text" [(ngModel)]="entity.smtp_host" name="smtp_host" class="form-control">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Usuário</label>
                    <input type="text" [(ngModel)]="entity.smtp_user" name="smtp_user" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Senha</label>
                    <input type="text" [(ngModel)]="entity.smtp_password" name="smtp_password" class="form-control">
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Porta</label>
                    <input type="text" [(ngModel)]="entity.smtp_port" name="smtp_port" class="form-control">
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label class="form-control-label">Criptografia</label>
                    <select class="form-control" [(ngModel)]="entity.smtp_crypto" name="smtp_crypto">
                      <option value="smtp">SMTP</option>
                      <option value="mail">Mail</option>
                      <option value="sendmail">SendMail</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label class="form-control-label">Tipo de Conexão</label>
                    <select class="form-control"  [(ngModel)]="entity.smtp_type" name="smtp_type">
                      <option value="SSL">SSL</option>
                      <option value="TLS">TLS</option>
                      <option value="STARTTLS">STARTTLS</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label class="form-control-label">Charset</label>
                    <select class="form-control" [(ngModel)]="entity.smtp_charset" name="smtp_charset">
                      <option value="utf-8">utf-8</option>
                      <option value="iso-8859-1">iso-8859-1</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <!-- <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Address</label>
                      <input id="input-address" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-city">City</label>
                      <input type="text" id="input-city" class="form-control" placeholder="City" value="New York">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Country</label>
                      <input type="text" id="input-country" class="form-control" placeholder="Country" value="United States">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Postal code</label>
                      <input type="number" id="input-postal-code" class="form-control" placeholder="Postal code">
                    </div>
                  </div>
                </div>
              </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>