<app-page-header name="Dashboard QRCodes" description="">
</app-page-header>

<div class="container-fluid mt--6">
  <ng-container *ngIf="data">
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <app-card-dashboard title="Visitas Totais" description="Quantidade de visitas totais" icon="fas fa-users" [value]="data.qtd_visitas[0]?.total || 0">
        </app-card-dashboard>
      </div>
      <div class="col-xl-3 col-lg-6">
        <app-card-dashboard title="Visitas Únicas" description="Quantidade de visitas únicas" icon="fas fa-user" [value]="data.qtd_visitas_unicas[0]?.total || 0">
        </app-card-dashboard>
      </div>
      <div class="col-xl-3 col-lg-6">
        <app-card-dashboard title="Dispositivos" description="Dispositivo mais utilizado para acesso" icon="fas fa-mobile" value="{{ data.dispositivos_utilizados['0']?.device || 'Sem Informações'  | titlecase }}">
        </app-card-dashboard>
      </div>
      <div class="col-xl-3 col-lg-6">
        <app-card-dashboard title="Visitas por Cidade" description="Cidade com mais visitas" icon="fas fa-globe" value="{{ data.visitas_cidade['0']?.city || 'Sem Informações' | titlecase }}">
        </app-card-dashboard>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-8">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Últimas Visitas</h3>
              </div>
              <div class="col text-right">
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Data</th>
                  <th scope="col">Cidade / Estado</th>
                  <th scope="col">Dispositivo</th>
                  <th scope="col">Navegador</th>
                  <th scope="col">Sistema Operacional</th>
                </tr>
              </thead>
              <tbody *ngIf="data.visitas.length > 0">
                <tr *ngFor="let item of data.visitas">
                  <th scope="row">
                    {{ item.created_at | amTimeAgo }}
                  </th>
                  <td>{{ item.city }}/{{ item.region }}</td>
                  <td>{{ item.device | titlecase }}</td>
                  <td>{{ item.navigator }}</td>
                  <td>{{ item.so }}</td>
                </tr>
              </tbody>
              <tbody *ngIf="data.visitas.length <= 0">
                <tr>
                  <td class="text-center" colspan="5">
                    <div class="row">
                      <div class="col-12">
                        <h4>Ainda não foram coletadas informações...</h4>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Visitas por Cidade</h3>
              </div>
              <div class="col text-right">
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Cidade</th>
                  <th scope="col text-center">Quantidade</th>
                </tr>
              </thead>
              <tbody *ngIf="data.visitas_cidade.length > 0">
                <tr *ngFor="let item of data.visitas_cidade">
                  <td>{{ item.city }}/{{ item.region }}</td>
                  <td class="text-center">{{ item.total }}</td>
                </tr>
              </tbody>
              <tbody *ngIf="data.visitas_cidade.length <= 0">
                <tr>
                  <td class="text-center" colspan="2">
                    <div class="row">
                      <div class="col-12">
                        <h4>Ainda não foram coletadas informações...</h4>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</div>