<app-page-header name="Nova Análise"></app-page-header>



<app-page-card customClass="col-md-8">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 float-left">Dados da sua Análise</h3>
          <div class="float-right">

            <button class="btn btn-icon btn-3 btn-primary" type="button" (click)="setPermission(entity.analysis_permission)">
              <span class="btn-inner--icon">
                <i class="fas fa-lock-open" *ngIf="entity.analysis_permission === 'public'"></i>
                <i class="fas fa-lock" *ngIf="entity.analysis_permission === 'private'"></i>
              </span>
              <span class="btn-inner--text" *ngIf="entity.analysis_permission === 'private'">Privada</span>
              <span class="btn-inner--text" *ngIf="entity.analysis_permission === 'public'">Pública</span>
            </button>
          </div>
        </div>
        <div class="card-body">
          <form #form="ngForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Trader Responsável</label>
                  <select class="form-control" required [(ngModel)]="entity.user_id" (change)="onSelectUser(entity.user_id)" name="entity.user_id">
                    <option [value]="item.id" *ngFor="let item of users">{{ item.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Tipo de Mercado</label>
                  <select class="form-control" required [(ngModel)]="entity.market_type" (change)="onChangeMarketType(entity.market_type)" name="market_type">
                    <option value="futuro">Futuro</option>
                    <option value="a vista">Á Vista</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Tipo de Moeda</label>
                  <select class="form-control" [disabled]="!entity.market_type" required [(ngModel)]="entity.operation_price_type" name="operation_price_type">
                    <ng-container *ngIf="entity.market_type == 'futuro'">
                      <option value="">Selecionar</option>
                      <option value="dolar"> Dólar ($)</option>
                    </ng-container>
                    <ng-container *ngIf="entity.market_type == 'a vista'">
                      <option value="dolar"> Dólar ($)</option>
                      <option value="sats"> Satoshi (SATS)</option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <label>Análise</label>
                <div class="d-flex flex-row">
                  <button-upload (event)="entity.analysis_study_image = $event" [checked]="entity.analysis_study_image" [disabled]="entity.analysis_study_video" text="Imagem" customClass="mt-3"></button-upload>
                  <button-upload class="ml-3" (event)="entity.analysis_study_video = $event" [checked]="entity.analysis_study_video" [disabled]="entity.analysis_study_image" accept="video/*" text="Vídeo" customClass="mt-3"></button-upload>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Par de Moedas | <a class="clickable text-primary" (click)="addCoinPair()"><b>Novo</b></a></label>
                  <select class="form-control" [(ngModel)]="entity.coin_pairs_id" (change)="onSelectCoinPairs(entity.coin_pairs_id)" name="coin_pairs_id">
                    <option [value]="item.id" *ngFor="let item of coinPairs">{{ item.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4" [disableTooltip]="entity.market_type == 'futuro'" ngbTooltip="Está opção está disponível apenas para o mercado Futuro">
                <div class="form-group">
                  <label>Tipo de Operação</label>
                  <select class="form-control" [(ngModel)]="entity.operation_type" name="operation_type" [disabled]="entity.market_type == 'a vista'">
                    <option value="short">Short</option>
                    <option value="long">Long</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Tipo de Alavancagem</label>
                  <select class="form-control" [(ngModel)]="entity.leverage_type" name="leverage_type" [disabled]="entity.market_type == 'a vista'">
                    <option value="isolada">Isolada</option>
                    <option value="cruzada">Cruzada</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Alavancagem</label>
                  <select class="form-control" [(ngModel)]="entity.leverage" name="leverage"  [disabled]="entity.market_type == 'a vista'">
                    <option [value]="item" *ngFor="let item of leverage">{{ item }}X</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Preço de Entrada Inicial</label>
                  <input *ngIf="entity.operation_price_type == 'dolar'" type="text" placeholder="$ 0.00" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.', precision: 8 }" [(ngModel)]="entity.enter_price_in" name="enter_price_in" class="form-control">
                  <input *ngIf="entity.operation_price_type == 'sats'" type="text" placeholder="SATS 0.00" currencyMask [options]="{ prefix: 'SATS ', thousands: ',', decimal: '.', precision: 8 }" [(ngModel)]="entity.enter_price_in" name="enter_price_in" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Preço de Entrada Final</label>
                  <input *ngIf="entity.operation_price_type == 'dolar'" type="text" placeholder="$ 0.00" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.', precision: 8 }" [(ngModel)]="entity.enter_price_out" name="enter_price_out" class="form-control">
                  <input *ngIf="entity.operation_price_type == 'sats'" type="text" placeholder="SATS 0.00" currencyMask [options]="{ prefix: 'SATS ', thousands: ',', decimal: '.', precision: 8 }" [(ngModel)]="entity.enter_price_out" name="enter_price_out" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Stop Loss</label>
                  <input *ngIf="entity.operation_price_type == 'dolar'" type="text" placeholder="$ 0.00" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.', precision: 8 }" [(ngModel)]="entity.stop_loss" name="stop_loss" class="form-control">
                  <input *ngIf="entity.operation_price_type == 'sats'" type="text" placeholder="SATS 0.00" currencyMask [options]="{ prefix: 'SATS ', thousands: ',', decimal: '.', precision: 8 }" [(ngModel)]="entity.stop_loss" name="stop_loss" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Risco Retorno</label>
                  <input type="text" placeholder="0.00" currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2 }" [(ngModel)]="entity.risk_return" name="risk_return" class="form-control">
                </div>
              </div>
              <!-- <div class="col-md-4">
                <label>Documento Adicional</label>
                <button-upload (event)="entity.analysis_study_image = $event" text="PDF/EXCEL" icon="fa fa-file" accept="application/pdf,application/vnd.ms-excel" customClass="mt-3"></button-upload>
              </div> -->
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Conservador <b>%</b></label>
                  <input type="text" [(ngModel)]="entity.investiment_risk_initial" name="investiment_risk_initial" class="form-control">
                  <small>utilize valores com . ex: <b>0.5</b></small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Moderado <b>%</b></label>
                  <input type="text" [(ngModel)]="entity.investiment_risk_medium" name="investiment_risk_medium" class="form-control">
                  <small>utilize valores com . ex: <b>0.5</b></small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Arrojado <b>%</b></label>
                  <input type="text" [(ngModel)]="entity.investiment_risk_advance" name="investiment_risk_advance" class="form-control">
                  <small>utilize valores com . ex: <b>0.5</b></small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Análise Fundamentalista / Descrição</label>
                  <textarea rows="5" [(ngModel)]="entity.summary" name="summary" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label>Alvos</label><br>
                <small class="text-primary">Para adicionar um novo alvo, clique em "Adicionar alvo" e informe o valor.</small>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Alvo</th>
                      <th scope="col">Valor</th>
                      <!-- <th scope="col">Remover</th> -->
                      <th scope="col">Alvo Atingido</th>
                      <th scope="col">Opções</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of entity.take_profit; let i = index">
                      <th scope="row">Alvo {{ i + 1 }}</th>
                      <td>
                        <input *ngIf="entity.operation_price_type == 'sats'" type="text" placeholder="SATS 0.00" currencyMask [options]="{ prefix: 'SATS ', thousands: ',', decimal: '.', precision: 8 }" [(ngModel)]="entity.take_profit[i].value" name="take_profit-{{i}}" class="form-control">
                        <input *ngIf="entity.operation_price_type == 'dolar'" type="text" placeholder="$ 0.00" currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.', precision: 8 }" [(ngModel)]="entity.take_profit[i].value" name="take_profit-{{i}}" class="form-control">
                      </td>
                      <!-- <td>
                        <button class="btn btn-danger btn-sm" type="button" (click)="removeOption(i)" [disabled]="entity.take_profit.length == 1"><i class="fas fa-trash"></i></button>
                      </td> -->
                      <td>
                        <div class="custom-control custom-checkbox text-center" ngbTooltip="Marque esta opção quando o alvo da operação for atingido">
                          <input [(ngModel)]="entity.take_profit[i].goal" name="goal-{{i}}" (change)="onGoalChecked(i)" checked="checked" [disabled]="!entity.id" class="custom-control-input" id="goal-{{i}}" type="checkbox">
                          <label class=" custom-control-label" for="goal-{{i}}"></label>
                        </div>
                      </td>
                      <td>
                        <div ngbDropdown class="d-flex align-items-center">
                          <a ngbDropdownToggle aria-controls="dropdown-basic" class="btn btn-sm btn-icon-only dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class=" fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="addGoalInformation(entity.take_profit[i])" [disabled]="!entity.take_profit[i].goal">
                              <i class="text-info fas fa-comments"></i> Adicionar Informações
                            </button>
                            <button ngbDropdownItem (click)="removeOption(i)" [disabled]="entity.take_profit.length == 1">
                              <i class="text-danger fas fa-trash"></i> Remover Alvo
                            </button>
                            <!-- <button ngbDropdownItem>Something else is here</button> -->
                          </div>
                        </div>
                      </td>
                      <!-- <td><div class="dropdown no-caret" dropdown=""><a aria-controls="dropdown-basic" class=" btn btn-sm btn-icon-only text-light dropdown-toggle" dropdowntoggle="" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false"><i class=" fas fa-ellipsis-v"></i></a><div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style="left: auto; right: 0px;"><a class="dropdown-item" href="javascript:void(0)"> Action </a><a class="dropdown-item" href="javascript:void(0)"> Another action </a><a class="dropdown-item" href="javascript:void(0)"> Something else here </a></div></div></td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-12 text-right mt-3">
                <button class="btn btn-sm btn-success" (click)="addOption()">Adicionar Alvo</button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer text-right" ngbTooltip="Preencha todos os campos obrigatórios antes de salvar" [disableTooltip]="!form.invalid">
          <button class="btn btn-danger mr-2" [routerLink]="['/analysis-manager']">Voltar</button>
          <button class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
        </div>
      </div>
    </div>

  </div>
</app-page-card>