<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <input class="d-none" (change)="loadImage($event)" name="logo" accept="image/*" type="file" #file>
                                <img placement="bottom" ngbTooltip="Clique aqui para selecionar a logo da empresa" src="assets/img/theme/default-avatar.png" *ngIf="!entity.logo && !img" class="img container-image" (click)="file.click();">
                                <img placement="bottom" ngbTooltip="Clique aqui para selecionar a logo da empresa" *ngIf="img" [src]="img" class="img container-image" (click)="file.click();">
                                <img placement="bottom" ngbTooltip="Clique aqui para selecionar a logo da empresa" *ngIf="!img && entity.logo" [src]="entity.logo" class="img container-image" (click)="file.click();">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-header border-0">
                    <h3 class="mb-0 float-left">Empresa</h3>
                    <!-- <button (click)="open()" class="btn btn-sm btn-primary float-right">Adicionar</button> -->
                </div>
                <div class="card-body mt-5">
                    <form #form="ngForm">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="heading-small text-muted mb-2">Informações</h6>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input type="text" [(ngModel)]="entity.nome" required name="nome" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Razao Social</label>
                                    <input type="text" class="form-control" (focus)="generateIdentifier(entity.nome)" [(ngModel)]="entity.razao_social" name="razao_social">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>CNPJ</label>
                                    <input type="text" [(ngModel)]="entity.cnpj" yn-mask="NN.NNN.NNN/NNNN-NN" placeholder="99.999.999/9999-99" required name="cnpj" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>CEP</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.cep" yn-mask="NNNNN-NNN" placeholder="99999-999" name="cep">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>UF</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.estado" name="estado">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Cidade</label>
                                    <input type="text" [(ngModel)]="entity.cidade" name="cidade" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Rua</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.rua" name="rua">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.numero" name="numero">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="heading-small text-muted mb-2">Configurações</h6>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Identificador</label>
                                    <input type="url" class="form-control" [(ngModel)]="entity.identificador" name="identificador">
                                    <small class="text-primary">Identificador único de cada empresa</small>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Tipo de Fila</label>
                                    <select class="form-control" required [(ngModel)]="entity.tipo_fila" name="tipo_fila">
                                        <option value="1">Por usuário</option>
                                        <option value="2">Por Setor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Tipo de Concessionária</label>
                                    <select class="form-control" required [(ngModel)]="entity.tipo_concessionaria" name="tipo_concessionaria">
                                        <option value="2r">2 Rodas</option>
                                        <option value="4r">4 Rodas</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="col-md-4">
                               <img *ngIf="entity.qrcode_reference" [src]="entity.qrcode_reference | getFile" class="img img-thumbnail">
                             </div> -->
                        </div>
                    </form>
                </div>
                <div class="card-footer py-4">
                    <div class="float-right">
                        <button type="button" class="btn btn-danger" [routerLink]="['/gerencial/empresas']">Voltar</button>
                        <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>