<div class="card card-profile shadow">
  <div class="row justify-content-center">
    <div class="col-lg-3 order-lg-2">
      <div class="card-profile-image">
        <a href="javascript:void(0)">
          <input class="d-none" (change)="loadImage($event)" name="logo" accept="image/*" type="file" #file>
          <img placement="bottom" ngbTooltip="Clique aqui para selecionar sua foto de Perfil" src="assets/img/theme/default-avatar.png" *ngIf="!entity.imagem && !img" class="rounded-circle"  (click)="file.click();">
          <img placement="bottom" ngbTooltip="Clique aqui para selecionar sua foto de Perfil" *ngIf="img" [src]="img" class="rounded-circle" (click)="file.click();">
        </a>
      </div>
    </div>
  </div>
  <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4 mb-4">
    <div class="d-flex justify-content-between">
      <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a> -->
      <!-- <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a> -->
    </div>
  </div>
  <div class="card-body pt-0 pt-md-4 mt-5">
    <form #form="ngForm">
      <!-- <h6 class="heading-small text-muted mb-4">Informações Principais</h6> -->
      <div class="">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Nome Completo</label>
              <input type="text" [(ngModel)]="entity.nome" name="nome" required class="form-control">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Apelido</label>
              <input type="text" [(ngModel)]="entity.apelido" name="apelido" required class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-first-name">CPF</label>
              <input type="text" required yn-mask="NNN.NNN.NNN-NN" placeholder="###.###.###-##" [(ngModel)]="entity.cpf" name="cpf" class="form-control">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-first-name">E-mail</label>
              <input type="email" required [(ngModel)]="entity.email" name="email" class="form-control">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-first-name">Whatsapp</label>
              <input type="text" required yn-mask="+55 (NN) NNNN-NNNN" placeholder="+55 (##) ####-####"  [(ngModel)]="entity.celular" name="celular" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-first-name">Data Nascimento</label>
              <div class="input-group">
                <input class="form-control" name="data_nascimento" [(ngModel)]="entity.data_nascimento" #dateInput yn-mask-date="dd/mm/yyyy">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-first-name">Setor</label>
              <select [(ngModel)]="entity.setor_id" name="setor" class="form-control">
                <option *ngFor="let item of setores" [value]="item.id">{{item.nome}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Senha</label>
              <input type="password" [(ngModel)]="entity.password" name="apelido" required class="form-control">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="float-right">
      <button type="button" class="btn btn-danger" (click)="modal.close()">Fechar</button>
      <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
    </div>
  </div>
</div>