<app-page-header name="Cupons de Desconto" description="Gerencie todos os seus cupons de desconto na Plataforma">
</app-page-header>


<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 float-left">Cupons de Desconto</h3>
          <button (click)="open()" class="btn btn-sm btn-primary float-right">Adicionar</button>
          <!-- <button (click)="open()" class="btn btn-sm btn-default float-right  mr-2">Filtrar</button> -->
        </div>

        <div class="table-responsive">
          <ng-container *ngIf="!data">
            <div class="row container-fluid">
              <div class="col-12">
                <ngx-skeleton-loader [theme]="{width:'100%', height:'80px'}" animation="progress" count="6"></ngx-skeleton-loader>
              </div>
            </div>
          </ng-container>

          <table class="table align-items-center table-flush" *ngIf="data">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Status</th>
                <th scope="col">Valor</th>
                <th scope="col">Disponível / Usados</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of data">
                <tr>
                  <td>
                    {{ item.id }}
                  </td>
                  <td>
                    <a class="click" (click)="open(item)">{{ item.name }}</a>
                  </td>
                  <td>
                    <label class="custom-toggle">
                      <input type="checkbox" (change)="updateStatus(item)" [checked]="item.status">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </td>
                  <td>
                    <b *ngIf="item.discount_type =='percentage'">
                      {{ item.value }}%
                    </b>
                    <b *ngIf="item.discount_type =='price'">
                      {{ item.value | currency:'R$ ' }}
                    </b>
                  </td>
                  <td>
                    <i class="fas fa-infinity" *ngIf="!item.limit"></i>
                    <label *ngIf="item.limit">{{ item.limit }}</label>
                    /0
                    <!-- {{ item.limit || 'Ilimitado' }}/0 -->
                  </td>
                  <td class="text-right">
                    <button class="btn btn-icon btn-sm btn-2 btn-primary" (click)="open(item)" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                    </button>
                    <button class="btn btn-icon btn-sm btn-2 btn-danger" (click)="delete(item.id)" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                    </button>
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>

          <app-empty-data text="Nenhum cupom foi encontrado" description="Nenhum cupom foi cadastrado até o momento." *ngIf="data && data.length <= 0"></app-empty-data>
        </div>
        <div class="card-footer py-4">

        </div>
      </div>
    </div>
  </div>
</div>