<app-page-header name="Gerenciador de Assintura" description="Gerencie todas as informações de sua assinatura">
</app-page-header>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 float-left">Informações de Pagamentos e Assintura</h3>
          <!-- <button class="btn btn-primary float-right">Salvar</button> -->
        </div>
        <div class="card-body">
          <div class="row" *ngIf="entity">
            <div class="col-12">
              <h6 class=" heading-small text-muted">Seu Plano</h6>
            </div>
            <div class="col-12">
              <div class="alert alert-primary" role="alert" *ngIf="entity.status === 'trialing'">
                <span class="alert-inner--text"> Você está utilizando o período de testes da plataforma.</span>
              </div>
            </div>
            <div class="col-12">
              <p>
                Atualmente você está utilizando o plano <b class="text-primary">{{ entity.plan.name }}</b>
                no valor de <b class="text-primary">{{ entity.plan.amount | currency:'R$ ' }}</b>
                o pagamento é feito a cada <b class="text-primary">{{ entity.plan.days }} dias</b>
                a data da próxima cobrança é <b class="text-primary">{{ entity.current_period_end | date }}</b>
                pagos com
                <ng-container *ngIf="entity.payment_method === 'credit_card'">
                  <b class="text-primary">Cartão de Crédito {{ entity.card_brand }}</b> de final <b class="text-primary">{{ entity.card_last_digits }}</b>
                </ng-container>
              </p>
            </div>
            <div class="col-12">
              <small><b>Não guardamos nenhuma informação do seu cartão de crédito nos nossos bancos de dados.</b></small>
            </div>
          </div>

          <div class="row" *ngIf="!entity">
            <div class="col-12" *ngFor="let item of [0,1,2,3,4]">
              <ngx-skeleton-loader animation="progress"[theme]="{height:'80px'}"></ngx-skeleton-loader>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <button class="btn btn-danger" (click)="cancelSubscription()">Cancelar Assinatura</button>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <app-card-user-profile></app-card-user-profile>
    </div> -->
  </div>