<block-ui>

  <div class="header py-4 py-lg-4">
    <div class="container">
      <div class="header-body text-center mb-6">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6 mb-5 mt-2">
            <img src="assets/img/brand/oromadre-white.png" width="60%" alt="">
            <!-- <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8 mt-4">
        <div class="card shadow">
          <div class="card-body mt-2">
            <form #form="ngForm">
              <div class="row">
                <div class="col">
                  <h3>Para que possamos iniciar seu cadastro, é necessário que você confirme algumas informações.</h3>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <h6 class="heading-small text-muted mb-4">Informações de Cadastro</h6>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nome Completo</label>
                    <input type="text" [(ngModel)]="entity.name" name="name" required class="form-control">
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label">E-mail</label>
                    <input type="email" required [(ngModel)]="entity.email" (change)="onChangeEmail(entity.email)" name="email-data-in" autocomplete="off"  autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" class="form-control">
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label">Data Nascimento</label>
                    <input type="date" required [(ngModel)]="entity.birth_date" name="birth_date" class="form-control">
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label">Gênero</label>
                    <select class="form-control" required [(ngModel)]="entity.gender" name="gender">
                      <option value="masculino">Masculino</option>
                      <option value="feminino">Feminino</option>
                      <option value="outros">Outros</option>
                    </select>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label">Whatsapp</label>
                    <input type="text" (change)="onChangeWhatsapp(entity.phone)" required [dropSpecialCharacters]="true" prefix="+55 " mask="(00) 0 0000-0000" placeholder="+55 (##) # ####-####" [(ngModel)]="entity.phone" name="phone" class="form-control">
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label">CPF</label>
                    <input type="text" required [dropSpecialCharacters]="true" mask="000.000.000-00" placeholder="###.###.###-##" [(ngModel)]="entity.cpf" (change)="onChangeCPF(entity.cpf)" name="cpf" class="form-control">
                    <small *ngIf="onError.cpf === true" class="text-danger">O CPF informado é inválido</small>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label">CEP</label>
                    <input type="text" required [dropSpecialCharacters]="true" mask="00.000-000" placeholder="##.###-###" [(ngModel)]="entity.address.zipcode" (change)="onChangeCEP(entity.address.zipcode)" name="zipcode" class="form-control">
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label">Bairro</label>
                    <input type="text" required [(ngModel)]="entity.address.neighborhood" name="neighborhood" class="form-control">
                  </div>
                </div>

                <div class="col-9">
                  <div class="form-group">
                    <label class="form-control-label">Endereço</label>
                    <input type="text" required [(ngModel)]="entity.address.street" name="street" class="form-control">
                  </div>
                </div>

                <div class="col-3">
                  <div class="form-group">
                    <label class="form-control-label">Número</label>
                    <input type="text" required [(ngModel)]="entity.address.street_number" name="street_number" class="form-control">
                  </div>
                </div>


                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Senha</label>
                    <input type="password" required [(ngModel)]="entity.password" name="apelido" class="form-control">
                    <small *ngIf="passwordConfirmation && entity.password != passwordConfirmation" class="text-danger">As senhas informadas não são iguais.</small>
                  </div>

                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Confirmação da Senha</label>
                    <input type="password" [(ngModel)]="passwordConfirmation" name="apelido" class="form-control">
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="entity.accept_terms" name="accept_terms" required id="privacy-police">
                    <label class="custom-control-label" for="privacy-police">Concordo com a Política de Privacidade</label>
                  </div>
                </div>

              </div>
            </form>
          </div>
          <div class="card-footer py-4">
            <div class="float-right">
              <button type="button" class="btn btn-danger" [routerLink]="['/login']">Voltar</button>
              <button type="button" class="btn btn-primary" (click)="save()" [disabled]="(form.valid && entity.password != passwordConfirmation) || (!form.valid) || onError.cpf === true">Metódo de Pagamento</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>