<div class="d-flex flex-row">

  <input class="d-none {{customClass }}" (change)="loadFile($event)" id="imageFile" name="imageFile" accept="{{ accept }}" type="file" #fileImage>

  <button [disabled]="disabled" class="btn btn-sm btn-primary mt-2 btn-block" [ngClass]="{'btn-success': checked}" (click)="fileImage.click()" [disabled]="loading">
    <ng-container *ngIf="!loading">
      <i *ngIf="!checked" class="{{ icon }}"></i>
      <i *ngIf="checked" class="fas fa-check"></i>
      {{ text }}
    </ng-container>
    <ng-container *ngIf="loading">
      <i class="fa fa-spin fa-spinner"></i> Enviando...
    </ng-container>
  </button>

  <button class="btn btn-sm btn-danger mt-2 btn-block ml-2" ngbTooltip="Limpar envios" *ngIf="checked" (click)="clear()">
    <span class="btn-inner--icon"><i class="fa fa-undo"></i></span>
  </button>

</div>