<div class="form-group row mx-auto {{ customClass }}">
  <label class="col-sm-{{ labelSize }} col-form-label">{{ label }}</label>
  <div class="col-sm-{{ inputSize }}">
    <ng-content>

    </ng-content>
    <small *ngIf="help">{{ help }}</small>
  </div>
</div>