<block-ui>

  <div class="header py-4 py-lg-4">
    <div class="container">
      <div class="header-body text-center mb-6">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6 mb-5 mt-2">
            <img src="assets/img/brand/oromadre-white.png" width="60%" alt="">
            <!-- <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 mt-4">
        <div class="card shadow">
          <div class="card-body mt-2">
            <form #form="ngForm">
              <div class="row">
                <div class="col">
                  <h3>Informe o e-mail utilizado para o cadastro.</h3>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label">Nova Senha</label>
                    <input type="password" required [(ngModel)]="entity.password" name="password" class="form-control">
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label">Confirmação de Senha</label>
                    <input type="password" required [(ngModel)]="passwordConfirmation" name="passwordConfirmation" class="form-control">
                    <small class="text-danger" *ngIf="entity.password && passwordConfirmation && passwordConfirmation != entity.password">A confirmação deve ser exatamente igual a senha</small>
                  </div>
                </div>

              </div>
            </form>
          </div>
          <div class="card-footer py-4">
            <div class="float-right">
              <button type="button" class="btn btn-danger" [routerLink]="['/login']">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!form.valid || !passwordConfirmation">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>