<div class="header py-4 py-lg-4">
  <div class="container">
    <div class="header-body text-center my-7">
      <div class="row justify-content-center">
        <!-- <div class="col-lg-5 col-md-6 mb-5 mt-6">
          <img src="assets/img/brand/carbonor.svg" width="60%" alt="">
          <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="row justify-content-center">
          <div class="col-lg-12 pt-5 text-center">
            <!-- <img src="assets/img/brand/oromadre.png" width="40%" alt=""> -->
            <img src="assets/img/brand/oromadre-text-logo.png" width="60%" class="img-responsive" alt="">
            <!-- <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p> -->
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-3">
            <strong>Bem vindo ao Portal <b class="text-primary">Oro Madre</b></strong><br>
            <!-- <small>Um produto da <b class="text-primary">R</b>esultado <b class="text-primary">S</b>imples</small> -->
          </div>
          <form role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" [(ngModel)]="email" name="email" placeholder="Email" type="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" (keyup.enter)="login()" [(ngModel)]="password" name="password" placeholder="Senha" type="password">
              </div>
            </div>
            <div class="text-center">
              <button type="button" [disabled]="!email || !password || loading" (click)="login()" class="btn btn-primary btn-block">
                <i class="fa fa-spin fa-spinner" *ngIf="loading"></i> Entrar
              </button>
              <button type="button" [routerLink]="['/register']" class="btn btn-outline-primary btn-block">
                 Cadastrar-se
              </button>
            </div>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <a class="text-red" [routerLink]="['/forgot-password']"><small>Esqueci minha senha</small></a>
              </div>
              <div class="col-6 text-right">
                <!-- <a href="javascript:void(0)" class="text-light"><small>Create new account</small></a> -->
              </div>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>
