<div class="header py-4 py-lg-4">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 mb-5 mt-6">
          <img src="assets/img/brand/white-logo.png" width="60%" alt="">
          <!-- <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="row text-center">
            <div class="col">
              <img src="https://res.cloudinary.com/forca-de-vendas/image/upload/v1591912908/zadcmawflwq50jqpz8li.png" width="60%" alt="">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <h1 class="text-center">Seja bem vindo ao <b>Força de Vendas</b></h1>
              <h3>Você foi convidado a jutar-se a nós através do <b>Força de Vendas</b>. Uma ferramenta que une tecnologia facilidade </h3>
            </div>
          </div>
          <div class="text-center mt-4">
            <button type="button" class="btn btn-primary btn-block">Continuar para o Cadastro</button>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <!-- <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a> -->
        </div>
        <div class="col-6 text-right">
          <!-- <a href="javascript:void(0)" class="text-light"><small>Create new account</small></a> -->
        </div>
      </div>
    </div>
  </div>
</div>
