<app-page-header name="Planos" description="Gerencie os planos disponíveis na Plataforma">
</app-page-header>


<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 float-left">Planos</h3>
          <button (click)="open()" class="btn btn-sm btn-primary float-right">Adicionar</button>
          <!-- <button (click)="open()" class="btn btn-sm btn-default float-right  mr-2">Filtrar</button> -->
        </div>

        <div class="table-responsive">
          <ng-container *ngIf="!data">
            <div class="row container-fluid">
              <div class="col-12">
                <ngx-skeleton-loader [theme]="{width:'100%', height:'80px'}" animation="progress" count="6"></ngx-skeleton-loader>
              </div>
            </div>
          </ng-container>

          <table class="table align-items-center table-flush" *ngIf="data">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Status</th>
                <th scope="col">Data Cadastro</th>
                <th scope="col">Data Atualização</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of data">
                <tr>
                  <td>
                    {{ item.id }}
                  </td>
                  <td>
                    <a class="click" (click)="open(item)">{{ item.name }}</a>
                  </td>
                  <td>{{ item.price | currency:'R$ ' }}</td>
                  <td>
                    <label class="custom-toggle">
                      <input type="checkbox" (change)="updateStatus(item)" [checked]="item.status">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </td>
                  <td>
                    {{ item.created_at | amTimeAgo }}
                  </td>
                  <td>
                    {{ item.updated_at | amTimeAgo }}
                  </td>
                  <td class="text-right">
                    <button class="btn btn-icon btn-sm btn-2 btn-primary" (click)="open(item)" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                    </button>
                    <button class="btn btn-icon btn-sm btn-2 btn-danger" [disabled]="data.length == 1" (click)="delete(item.id)" type="button">
                      <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                    </button>
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>

          <app-empty-data text="Nenhum cliente foi encontrado" description="Nenhum cliente foi importado até o momento." *ngIf="data && data.length <= 0"></app-empty-data>
        </div>
        <div class="card-footer py-4">

        </div>
      </div>
    </div>
  </div>
</div>