<app-page-header name="Detalhes da Análise">
</app-page-header>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <ng-container *ngIf="entity && entity.key">
          <div class="card-header border-0">
            <h4 class="text-uppercase">Tipo de Mercado: <b *ngIf="entity.market_type">{{entity.market_type | uppercase}}</b></h4>
          </div>
          <div class="card-header">
            <img class="card-img-top" *ngIf="!entity.analysis_study_image && !entity.analysis_study_video" src="https://via.placeholder.com/1850x880?text=1850px/880px" alt="Card image cap">
            <img class="card-img-top" *ngIf="entity.analysis_study_image" [src]="entity.analysis_study_image" alt="Card image cap">

            <video width="100%" height="100%" *ngIf="entity.analysis_study_video" controls controlsList="nodownload">
              <source [src]="entity.analysis_study_video">
            </video>
          </div>
          <div class="card-body">

            <div class="row align-entitys-center">
              <div class="col-auto">
                <!-- Avatar -->
                <a class="avatar avatar-xl rounded-circle">
                  <img alt="Image placeholder" [src]="global.getProfilePhoto()">
                </a>
              </div>
              <div class="col ml--2">
                <h4 class="mb-0">
                  <a href="#!">{{entity.user.name }}</a>
                </h4>
                <small><b>{{ entity.created_at | date:'dd/MM/yyyy HH:mm:ss' }}</b></small>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-md-6">

                <h3 *ngIf="entity.coin_pair">
                  <b class="text-success" ngbTooltip="Par de moedas utilizado para a análise">
                    {{ entity.coin_pair.name }}
                  </b>
                  <ng-container *ngIf="entity.operation_type">
                    {{ entity.operation_type | uppercase }}
                  </ng-container>

                </h3>
                <h4 *ngIf="entity.leverage_type" class="text-uppercase">tipo de alavancagem: <b>{{ entity.leverage_type }}</b></h4>
                <!-- <h4 *ngIf="entity.enter_price_in && entity.enter_price_out" class="text-uppercase">
                  preços de entrada:
                  <b>
                    <ng-container *ngIf="entity.operation_price_type == 'dolar'">
                      $ {{ entity.enter_price_in }} - $ {{ entity.enter_price_out }}
                    </ng-container>
                    <ng-container *ngIf="entity.operation_price_type == 'sats'">
                      SATS {{ entity.enter_price_in }} - SATS {{ entity.enter_price_out }}
                    </ng-container>
                  </b>
                </h4> -->
              </div>
            </div>

            <div class="row mt-2">
              <div class="col">

                <button class="btn btn-sm btn-warning m-2" *ngIf="entity.risk_return">Risco/Retorno:
                  {{ entity.risk_return }}
                </button>

                <button class="btn btn-sm btn-danger m-2" *ngIf="entity.stop_loss">Stop Loss:
                  <ng-container *ngIf="entity.operation_price_type == 'dolar'">
                    $ {{ entity.stop_loss }}
                  </ng-container>
                  <ng-container *ngIf="entity.operation_price_type == 'sats'">
                    SATS {{ entity.stop_loss }}
                  </ng-container>
                </button>

                <button class="btn btn-sm btn-info m-2" *ngIf="entity.enter_price_in">Entrada Inicial:
                  <ng-container *ngIf="entity.operation_price_type == 'dolar'">
                    $ {{ entity.enter_price_in }}
                  </ng-container>
                  <ng-container *ngIf="entity.operation_price_type == 'sats'">
                    SATS {{ entity.enter_price_in }}
                  </ng-container>
                </button>

                <button class="btn btn-sm btn-info m-2" *ngIf="entity.enter_price_out">Entrada Final:
                  <ng-container *ngIf="entity.operation_price_type == 'dolar'">
                    $ {{ entity.enter_price_out }}
                  </ng-container>
                  <ng-container *ngIf="entity.operation_price_type == 'sats'">
                    SATS {{ entity.enter_price_out }}
                  </ng-container>
                </button>

                <button class="btn btn-sm btn-warning text-uppercase" *ngIf="entity.leverage">alavancagem: {{ entity.leverage }}X</button>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <hr>
                <b>Resumo da Tomada de Decisão</b>
                <p *ngIf="entity.summary">{{ entity.summary}}</p>
              </div>
            </div>

            <div class="row text-center">
              <div class="col-12 text-left">
                <b>Riscos</b>
              </div>
              <div class="col-md-4">
                <h4 *ngIf="entity.investiment_risk_initial"><b class="text-success">
                    {{ entity.investiment_risk_initial }}%
                  </b>
                </h4>
                <p class="text-uppercase">Conservador</p>
              </div>
              <div class="col-md-4">
                <h4 *ngIf="entity.investiment_risk_medium"><b class="text-warning">
                    {{ entity.investiment_risk_medium }}%
                  </b>
                </h4>
                <p class="text-uppercase">Moderado</p>
              </div>
              <div class="col-md-4">
                <h4 *ngIf="entity.investiment_risk_advance"><b class="text-danger">
                    {{ entity.investiment_risk_advance }}%
                  </b>
                </h4>
                <p class="text-uppercase">Arrojado</p>
              </div>
            </div>

            <div class="row" *ngIf="entity.take_profit">
              <div class="col-12">
                <b>Alvos</b>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Alvo</th>
                      <th scope="col">Preço</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let subentity of entity.take_profit; let i = index">
                      <th scope="row">Alvo {{ i+1 }}</th>
                      <td *ngIf="entity.operation_price_type == 'dolar'">$ {{ subentity.value }}</td>
                      <td *ngIf="entity.operation_price_type == 'sats'">SATS <b>{{ subentity.value }}</b></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


            <app-empty-data text="A Análise que você procura não está mais disponível" description="Não foi possível encontrar a análise que você procura, se você acha que isso é um mal entendido, entre em contato com o nosso suporte." *ngIf="onError === true"></app-empty-data>

          </div>
          <div class="card-footer">
            <div class="flex">
              <button type="button" class="btn btn-outline-primary" (click)="sendLike(entity)">
                <b>{{ entity.likes_count || 0 }}</b>
                <i class="fa fa-thumbs-up"></i>
                <ng-container *ngIf="entity.is_liked">
                  Descurtir
                </ng-container>
                <ng-container *ngIf="!entity.is_liked">
                  Curtir
                </ng-container>

              </button>
              <button type="button" class="btn btn-outline-primary"><b>{{ entity.comments_count || 0 }}</b> <i class="fa fa-comments"></i> Comentar </button>
              <button type="button" disabled class="btn btn-outline-primary"><b>{{ entity.accepts_count || 0 }}</b> <i class="fa fa-dollar-sign"></i> Participar </button>
              <button type="button" disabled class="btn btn-outline-primary"><b>{{ entity.simulation_count || 0 }}</b> <i class="fa fa-calculator"></i> Simular </button>
            </div>
          </div>
          <div class="card-footer">
            <app-analysis-comments (commentsCount)="entity.comments_count = $event" [analysis_id]="entity.id"></app-analysis-comments>
          </div>
        </ng-container>

        <ng-container *ngIf="onError">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <app-empty-data [ctaRoute]="['user-payment']" ctaText="Assinar Premium Agora" image="assets/img/icons/premium.svg" text="A Análise que você procura está disponível apenas para usuários Premium" *ngIf="onError === true"></app-empty-data>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>