<div class="card">
  <div class="card-header p-3">
    <h2 class="card-title float-left m-0">Cupons de Desconto</h2>
    <button type="button" class="close float-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" [(ngModel)]="entity.name" upperCase required name="name" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Tipo</label>
            <select class="form-control" [(ngModel)]="entity.discount_type" required name="discount_type">
              <option value="percentage">Percentual (%)</option>
              <option value="price">Valor (R$)</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Valor</label>
            <input type="text" [(ngModel)]="entity.value" *ngIf="entity.discount_type == 'percentage'" suffix="%" mask="999||99"  required name="value" class="form-control">
            <input type="text" [(ngModel)]="entity.value" *ngIf="entity.discount_type == 'price'" currencyMask [options]="{ prefix: 'R$ ', thousands: ',', decimal: '.', precision: 2 }"  required name="value" class="form-control">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label>Quantidade Disponível</label>
            <input type="number" [(ngModel)]="entity.limit" name="limit" class="form-control">
            <small class="text-muted">Deixe vazio para criar cupons sem limite de quantidade</small>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer p-3">
    <div class="float-right">
      <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
      <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
    </div>
  </div>
</div>