<block-ui>

  <div class="header py-4 py-lg-4">
    <div class="container">
      <div class="header-body text-center mb-6">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6 mb-5 mt-2">
            <img src="assets/img/brand/oromadre-white.png" width="60%" alt="">
            <!-- <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 mt-4">
        <div class="card shadow">
          <div class="card-body mt-2">
            <form #form="ngForm">
              <div class="row">
                <div class="col">
                  <h3>Concluir Assinatura.</h3>
                </div>
              </div>
              <div class="row text-center" *ngIf="plan">
                <div class="col-12">
                  <div class="display-1">{{ plan.price | currency: 'R$ ' }}<small>/mês</small></div>
                </div>
                <div class="col-12">
                  <p>{{ plan.description }}</p>
                </div>
              </div>
              <ng-container *ngIf="paymentMethod == 'credit-card'">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label">Número do Cartão</label>
                      <input type="text" [dropSpecialCharacters]="true" mask="0000.0000.0000.0000" placeholder="####.####.####.####" [(ngModel)]="entity.card_number" name="card_number" class="form-control">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label">Nome impresso no cartão</label>
                      <input type="text" [(ngModel)]="entity.card_holder_name" value="{{ entity.name }}" name="card_holder_name" class="form-control">
                    </div>
                  </div>
                  <div class="col-6">
                    <label class="form-control-label">Vencimento</label>
                    <input type="text" mask="00/00" placeholder="##/##" [(ngModel)]="entity.card_expiration_date" name="card_expiration_date" class="form-control">
                  </div>
                  <div class="col-6">
                    <label class="form-control-label">CVV</label>
                    <input type="text" mask="999 || 9999" placeholder="###" [(ngModel)]="entity.card_cvv" name="card_cvv" class="form-control">
                  </div>
                </div>
              </ng-container>

            </form>
          </div>
          <div class="card-footer py-4">
            <div class="float-right">
              <button type="button" class="btn btn-danger" [routerLink]="['/plan-select']">Voltar</button>
              <button type="button" class="btn btn-primary" (click)="processTransation()" [disabled]="!form.valid">Finalizar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>