<div class="card">
  <div class="card-header p-3">
    <h2 class="card-title float-left m-0">Adicionar Setor</h2>
    <button type="button" class="close float-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" [(ngModel)]="entity.nome" required name="nome" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label>Módulos Disponíveis</label>
        </div>
        <ng-container *ngFor="let item of modules; let i = index">
          <div class="col-12">
            <div class="custom-control custom-checkbox mb-3">
              <input class="custom-control-input" [(ngModel)]="permissions[item.id]" name="permissions-{{item.id}}" (change)="setSelectedModule(permissions[item.id], item)" id="checker-{{i}}" type="checkbox">
              <label class="custom-control-label" for="checker-{{i}}"><b>{{ item.nome }}</b></label>
            </div>

            <ng-container *ngFor="let sub of item.subs; let ib = index">
              <div class="custom-control custom-checkbox mb-3 ml-4">
                <input class="custom-control-input" [(ngModel)]="permissions[sub.id]" name="permissions-{{sub.id}}" (change)="setSelectedModule(permissions[sub.id], sub)" id="sub-checker-{{sub.id}}" type="checkbox">
                <label class="custom-control-label" for="sub-checker-{{sub.id}}">{{ sub.nome }}</label>
              </div>
            </ng-container>

          </div>
        </ng-container>
      </div>
    </form>
  </div>
  <div class="card-footer p-3">
    <div class="float-right">
      <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
      <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
    </div>
  </div>
</div>