<div class="card">
  <div class="card-header p-3">
    <h2 class="card-title float-left m-0">Informações sobre a Meta</h2>
    <button type="button" class="close float-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Considerações</label>
            <textarea type="text" [(ngModel)]="entity.description" required name="name" rows="5" class="form-control"></textarea>
            <small class="text-primary">Adicione informações que facilitarão os usuários saberem o motivo dessa meta ter sido atingida</small>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer p-3">
    <div class="float-right">
      <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
      <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="save()">Salvar</button>
    </div>
  </div>
</div>