<app-page-header name="Sala de Análises" description="Bem vindo a Sala de Análises da Oro Madre">
</app-page-header>

<div class="container-fluid mt--7">
  <ng-container *ngIf="!data">
    <div class="row">
      <div class="col-4" *ngFor="let item of [0,1,2,3,4,5]">
        <ngx-skeleton-loader animation="progress" [theme]="{height:'500px', 'margin-bottom':'1.5rem'}"></ngx-skeleton-loader>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="data">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex p-2 flex-row align-items-end mb-3">
              <div class="flex-grow-1 m-1">
                <label class="form-control-label">Busca</label>
                <input type="text" class="form-control" placeholder="BTC/USDT, Long, Futuro...." name="term" [(ngModel)]="filter.term">
              </div>
              <div class="flex-grow-1 m-1">
                <label class="form-control-label">Tipo de Mercado</label>
                <select class="form-control" name="market_type" [(ngModel)]="filter.market_type">
                  <option value="futuro">Futuro</option>
                  <option value="a vista">Á Vista</option>
                </select>
              </div>
              <div class="flex-grow-1 m-1">
                <label class="form-control-label">Tipo de Operação</label>
                <select class="form-control" name="operation_type" [(ngModel)]="filter.operation_type">
                  <option value="long">Long</option>
                  <option value="short">Short</option>
                </select>
              </div>
              <div class="flex-grow-1 m-1">
                <label class="form-control-label">Par de Moedas</label>
                <select class="form-control" name="coin_pairs_id" [(ngModel)]="filter.coin_pairs_id">
                  <option [value]="item.id" *ngFor="let item of coinPairs">{{ item.name }}</option>
                </select>
              </div>
              <!-- <div class="flex-grow-1 m-1">
                <label class="form-control-label">Trader</label>
                <select class="form-control" name="user_id" [(ngModel)]="filter.user_id">
                  <option [value]="item.id" *ngFor="let item of users">{{ item.name }}</option>
                </select>
              </div> -->
              <div class="m-1">
                <label class="form-control-label">Data Análise</label>
                <input type="date" class="form-control" name="created_at" [(ngModel)]="filter.created_at">
              </div>
              
              <div class="m-1">
                <button class="btn btn-primary" (click)="get(filter)"><i class="fas fa-search"></i></button>
                <button *ngIf="isFilter" class="btn btn-danger" (click)="clear();"><i class="fas fa-undo"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [infiniteScrollDisabled]="paginate.page >= paginate.lastPage" (scrolled)="onScroll()">
      <div class="col-md-4 mb-4" *ngFor="let item of data">
        <app-card-analysis-item [item]="item"></app-card-analysis-item>
      </div>
    </div>

  </ng-container>


</div>