<div class="card card-profile">
  <img alt="Image placeholder" class="card-img-top" src="assets/img/theme/background-analysis.jpg">
  <div class="row justify-content-center">
    <div class="col-lg-3 order-lg-2">
      <div class="card-profile-image" *ngIf="entity">
        <img class="rounded-circle" *ngIf="!entity.photo" [src]="global.generateAvatar(entity.name)">
        <img class="rounded-circle" *ngIf="entity.photo" [src]="item.entity">
      </div>
    </div>
  </div>
  <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
    <div class="d-flex justify-content-end">
      <button class="btn btn-sm btn-primary">Editar Perfil</button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- <div class="col">
        <div class="card-profile-stats d-flex justify-content-center">
          <div><span class="heading"> 22 </span><span class="description"> Friends </span></div>
          <div><span class="heading"> 10 </span><span class="description"> Photos </span></div>
          <div><span class="heading"> 89 </span><span class="description"> Comments </span></div>
        </div>
      </div> -->
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="text-center" *ngIf="entity">
          <h5 class="h3"> {{ entity.name }}<span class="font-weight-light"></span></h5>
          <!-- <div class="h5 font-weight-300"><i class="ni location_pin mr-2"></i> Bucharest, Romania </div> -->
          <div class="h5 mt-4"><i class="ni business_briefcase-24 mr-2"></i> Na plataforma {{ entity.created_at | amTimeAgo }} </div>
          <div><i class="ni education_hat mr-2"></i> </div>
        </div>
      </div>
    </div>
  </div>
</div>