<div class="card card-stats mb-4 mb-xl-0">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h4 class="card-title text-uppercase text-muted mb-0">{{ title }} <i class="fas fa-info-circle" [ngbTooltip]="info" *ngIf="info"></i> </h4>
        <span class="h2 font-weight-bold mb-0">{{ value }}</span>
      </div>
      <div class="col-auto">
        <div class="icon icon-shape {{ color }} text-white rounded-circle shadow">
          <i class="{{ icon }}"></i>
        </div>
      </div>
    </div>
    <p class="mt-3 mb-0 text-muted text-sm">
      <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span> -->
      <span class="text-nowrap">{{ description }}</span>
    </p>
  </div>
</div>