<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <input class="d-none" (change)="loadImage($event)" name="logo" accept="image/*" type="file" #file>
                                <img placement="bottom" ngbTooltip="Clique aqui para selecionar sua foto de Perfil" src="assets/img/theme/default-avatar.png" *ngIf="!entity.photo && !img" class="rounded-circle" (click)="file.click();">
                                <img placement="bottom" ngbTooltip="Clique aqui para selecionar sua foto de Perfil" *ngIf="img" [src]="img" class="rounded-circle" (click)="file.click();">
                                <img placement="bottom" ngbTooltip="Clique aqui para selecionar sua foto de Perfil" *ngIf="!img && entity.photo" [src]="entity.photo" class="rounded-circle" (click)="file.click();">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-header border-0">
                    <h3 class="mb-0 float-left">Usuário</h3>
                    <!-- <button (click)="open()" class="btn btn-sm btn-primary float-right">Adicionar</button> -->
                </div>
                <div class="card-body mt-5">
                    <form #form="ngForm">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="heading-small text-muted mb-4">Informações Básicas</h6>
                                <hr class="mt--3">
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Nome Completo</label>
                                    <input type="text" [(ngModel)]="entity.name" name="name" required class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-first-name">Nível</label>
                                    <select [(ngModel)]="entity.type" name="type" class="form-control">
                                        <option value="admin">Administrador</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-first-name">E-mail</label>
                                    <input type="email" required [(ngModel)]="entity.email" name="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-first-name">Setor</label>
                                    <select [(ngModel)]="entity.setor_id" name="setor" class="form-control">
                                        <option *ngFor="let item of setores" [value]="item.id">{{item.nome}}</option>
                                    </select>
                                </div>
                            </div> -->
                            <!-- <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-first-name">CPF</label>
                                    <input type="text" required yn-mask="NNN.NNN.NNN-NN" placeholder="###.###.###-##" [(ngModel)]="entity.cpf" name="cpf" class="form-control">
                                </div>
                            </div> -->

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-first-name">Status do Usuário</label>
                                    <select [(ngModel)]="entity.status" name="status" class="form-control">
                                        <option [value]="1">Desbloqueado</option>
                                        <option [value]="0">Bloqueado</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Senha</label>
                                    <input type="password" [(ngModel)]="entity.password" name="password" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Confirmação de Senha</label>
                                    <input type="password" [(ngModel)]="passwordConfirmation" name="passwordConfirmation" [required]="entity.password" class="form-control">
                                    <small class="text-error" *ngIf="passwordConfirmation != entity.password">As senhas informadas não são iguais.</small>
                                </div>
                            </div>

                            <!-- <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-first-name">Whatsapp</label>
                                    <input type="text" required yn-mask="+55 (NN) N NNNN-NNNN" placeholder="+55 (##) # ####-####" [(ngModel)]="entity.phone" name="phone" class="form-control">
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <!-- <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-first-name">Data Nascimento</label>
                                    <div class="input-group">
                                        <input class="form-control" name="data_nascimento" [(ngModel)]="entity.data_nascimento" yn-mask-date="dd/mm/yyyy" placeholder="__/__/____">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-first-name">Ativo na Fila <i class="fa fa-info-circle" ngbTooltip="Usuários ativos na fila estarão aptos a receber os leads nas rotações da fila."></i></label>
                                    <select [(ngModel)]="entity.ativo_fila" name="ativo_fila" class="form-control">
                                        <option [value]="1">Ativo</option>
                                        <option [value]="0">Inativo</option>
                                    </select>
                                </div>
                            </div> -->

                           

                            <!-- <div class="col-12">
                                <h6 class="heading-small text-muted mb-4">Informações Básicas</h6>
                                <hr class="mt--3">
                            </div> -->

                        </div>
                    </form>
                </div>
                <div class="card-footer py-4">
                    <div class="float-right">
                        <button type="button" class="btn btn-danger" [routerLink]="['/gerencial/usuarios']">Voltar</button>
                        <ng-container *ngIf="entity.password">
                            <button type="button" class="btn btn-primary" [disabled]="form.invalid || (passwordConfirmation != entity.password)" (click)="save()">Salvar</button>
                        </ng-container>
                        <ng-container *ngIf="!entity.password">
                            <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">Salvar</button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>