<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row" *ngIf="data">
        <div class="col-xl-3 col-lg-6">
          <app-card-dashboard 
            title="Clientes" 
            icon="fas fa-users"
            info="Clientes ativos dentro da Plataforma" 
            [value]="data.clients_count.total || 0">
          </app-card-dashboard>
        </div>
        <div class="col-xl-3 col-lg-6">
          <app-card-dashboard 
            title="Análises" 
            icon="fas fa-chart-line" 
            color="bg-warning"
            info="Análises já criadas dentro da Plataforma"
            [value]="data.analysis_count.total || 0">
          </app-card-dashboard>
        </div>
        <div class="col-xl-3 col-lg-6">
          <app-card-dashboard 
            title="Disponível" 
            icon="fas fa-file-invoice-dollar" 
            color="bg-orange" 
            info="Saldo disponível para saque no Pagar.me"
            [value]="(data.balance.available.amount/100) || 0 | currency:'R$ '">
          </app-card-dashboard>
        </div>
        <div class="col-xl-3 col-lg-6">
          <app-card-dashboard 
            title="A Receber" 
            icon="fas fa-file-invoice-dollar"
            info="Saldo a receber que ficará disponível no Pagar.me" 
            [value]="(data.balance.waiting_funds.amount/100) || 0 | currency:'R$ '">
          </app-card-dashboard>
        </div>
      </div>

      <div class="row" *ngIf="!data">
        <div class="col-xl-3 col-lg-6" *ngFor="let item of [0,1,2,3]">
          <ngx-skeleton-loader animation="progress" [theme]="{height:'150px'}"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row" *ngIf="data">
    <div class="col-md-12">
      <div class=" card">
        <div class=" card-header border-0">
          <div class=" row align-items-center">
            <div class=" col">
              <h3 class=" mb-0">Recebíveis</h3>
              <small class="text-muted">Últimos recebíveis</small>
            </div>
            <!-- <div class=" col text-right"><a class=" btn btn-sm btn-primary" href="javascript:void(0)"> See all </a></div> -->
          </div>
        </div>
        <div class=" table-responsive">
          <table class=" table align-items-center table-flush">
            <thead class=" thead-light">
              <tr>
                <th scope="col">Valor</th>
                <th scope="col">Taxa</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">Data Pagamento</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data.payables">
                <th scope="row">{{ item.amount / 100 | currency:'R$ ' }}</th>
                <td>
                  {{ item.fee / 100 | currency:'R$ ' }}
                </td>
                <td>
                  {{ ((item.amount - item.fee) / 100) | currency:'R$ ' }}
                </td>
                <td>
                  <span class=" badge badge-dot mr-4" *ngIf="item.status == 'waiting_funds'">
                    <i class=" bg-warning"></i>
                    <span class=" status"> Aguardando Pagamento </span>
                  </span>
                  <span class=" badge badge-dot mr-4" *ngIf="item.status == 'paid'">
                    <i class=" bg-success"></i>
                    <span class=" status"> Pago </span>
                  </span>
                </td>
                <td>
                  {{ item.payment_date | date }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!data">
    <div class="col-md-12">
      <ngx-skeleton-loader animation="progress" [theme]="{height:'300px'}"></ngx-skeleton-loader>
    </div>
  </div>

  <!-- <div class="row mt-4">
    <div class="col-xl-12">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Visão geral</h6>
              <h2 class="text-white mb-0">Evolução das vendas</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                    <span class="d-none d-md-block">Mensal</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                    <span class="d-none d-md-block">Semanal</span>
                    <span class="d-md-none">S</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Atendimentos</h6>
              <h2 class="mb-0">Chamados abertos</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- 
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Page visits</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Page name</th>
                <th scope="col">Visitors</th>
                <th scope="col">Unique users</th>
                <th scope="col">Bounce rate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  /argon/
                </th>
                <td>
                  4,569
                </td>
                <td>
                  340
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/index.html
                </th>
                <td>
                  3,985
                </td>
                <td>
                  319
                </td>
                <td>
                  <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/charts.html
                </th>
                <td>
                  3,513
                </td>
                <td>
                  294
                </td>
                <td>
                  <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/tables.html
                </th>
                <td>
                  2,050
                </td>
                <td>
                  147
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/profile.html
                </th>
                <td>
                  1,795
                </td>
                <td>
                  190
                </td>
                <td>
                  <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Social traffic</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
-->