<app-page-header [name]="modulo.nome" [description]="modulo.descricao"></app-page-header>

<div class="container-fluid mt--6">
  <div class="row">

    <ng-container *ngFor="let item of modulo.subs">
      <ng-container *ngIf="item.tag != 'empresas'">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <app-card-module [name]="item.nome" [icon]="item.icone" [route]="[item.url]"></app-card-module>
        </div>
      </ng-container>

      <ng-container *ngIf="item.tag == 'empresas'">
        <ng-container *ngIf="global.getLoggedUser().empresas && global.getLoggedUser().empresas.length > 1">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <app-card-module [name]="item.nome" [icon]="item.icone" [route]="[item.url]"></app-card-module>
          </div>
        </ng-container>

        <ng-container *ngIf="global.getLoggedUser().empresas && global.getLoggedUser().empresas.length == 1">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <app-card-module name="empresa" text="Detalhes" [route]="['empresas/visualizar', global.getLoggedUser().empresa_padrao.id]"></app-card-module>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>


    <!-- <div class="col-lg-4 col-md-4 col-sm-12">
      <ng-container *ngIf="global.getLoggedUser().empresas && global.getLoggedUser().empresas.length > 1">

       <ng-container *ngIf="global.isManager()">
        <app-card-module name="empresa" [route]="['empresas/visualizar', global.getLoggedUser().empresa_padrao.id]"></app-card-module>
       </ng-container>

      </ng-container>
      <ng-container *ngIf="global.getLoggedUser().empresas && global.getLoggedUser().empresas.length == 1">
        <app-card-module name="empresa" text="Detalhes" [route]="['empresas/visualizar', global.getLoggedUser().empresa_padrao.id]"></app-card-module>
      </ng-container>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mt-4" *ngIf="global.isAdmin()">
      <app-card-module name="Empresas" icon="ni ni-building" class="bg-red" [route]="['empresas']"></app-card-module>
    </div> -->

  </div>
</div>