.comment-text {
  background-color: #f1ede5;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
}

.on-edit-comment {
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  width: 400px !important;
  overflow: hidden;
}
