<div class="comment d-flex flex-row">
  <a class="avatar avatar-xl rounded-circle mr-3">
    <img alt="Image placeholder" [src]="global.getProfilePhoto()">
  </a>
  <textarea class="form-control form-control-rounded" placeholder="Comente algo sobre está análise." rows="1" [(ngModel)]="comment" (keyup.enter)="save(comment)"></textarea>
  <span class="ml-3 badge badge-md badge-circle badge-floating badge-primary border-white mt-2 clickable" (click)="save(comment)" ngbTooltip="Enviar comentário">
    <i class="fa fa-paper-plane"></i>
  </span>
</div>
<div class="comments mt-4" *ngIf="comments">
  <ng-container *ngIf="comments.length > 0">
    <ng-container *ngFor="let item of comments">

      <div class="d-flex flex-row">
        <div class="m-1">
          <a class="avatar avatar-xl rounded-circle mr-3 ml-3">
            <img alt="Image placeholder" [src]="item.user.photo" *ngIf="item.user.photo">
            <img alt="Image placeholder" [src]="global.generateAvatar(item.user.name)" *ngIf="!item.user.photo">
          </a>
        </div>
        <div class="m-1 comment-text">
          <b>{{ item.user.name }} <i *ngIf="item.user.type == 'admin'" class="fa fa-star text-primary" ngbTooltip="Analista Oro Madre"></i></b>
          <p class="mb-0" *ngIf="!item.edit">
            {{ item.comment }}
          </p>
          <textarea class="form-control on-edit-comment form-control-rounded w-100" [(ngModel)]="item.comment" *ngIf="item.edit" rows="1" (keyup.enter)="update(item)"></textarea>
          <small class="text-left">{{ item.updated_at | amTimeAgo }} <b *ngIf="item.edited == true">| editado</b></small>
        </div>
        <div class="d-flex flex-column" *ngIf="global.getLoggedUser().id === item.user_id">
          <span class="badge badge-md badge-circle badge-floating badge-danger border-white clickable" *ngIf="!item.edit" (click)="delete(item)" ngbTooltip="Remover comentário">
            <i class="fa fa-times"></i>
          </span>
          <span class="badge badge-md badge-circle badge-floating badge-primary border-white mt-2 clickable" *ngIf="!item.edit" (click)="onEdit(item)" ngbTooltip="Editar comentário">
            <i class="fa fa-pencil-alt"></i>
          </span>
          <span class="badge badge-md badge-circle badge-floating badge-primary border-white mt-2 clickable" *ngIf="item.edit" (click)="onEdit(item)" ngbTooltip="Cancelar edição">
            <i class="fa fa-undo-alt"></i>
          </span>

          <span class="badge badge-md badge-circle badge-floating badge-success border-white mt-2 clickable" *ngIf="item.edit" (click)="update(item)" ngbTooltip="Salvar comentário">
            <i class="fa fa-check"></i>
          </span>
        </div>
      </div>
    </ng-container>

  </ng-container>

  <app-empty-data text="Seja o primeiro a comentar..." description="Nenhum comentário disponível, seja o primeiro a comentar esta análise." *ngIf="comments.length == 0"></app-empty-data>
  


</div>