<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/background.jpeg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-primary opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center" *ngIf="data">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <b class="text-white">Bem vindo</b>
        <h1 class="display-2 text-white">{{ data.nome }}</h1>
        <p class="text-white mt-0 mb-5">Está é sua página de perfil, por aqui você poderá personalizar e acompanhar
          novidades</p>
        <!-- <a href="#!" class="btn btn-info">Edit profile</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <input class="d-none" (change)="loadImage($event)" name="logo" accept="image/*" type="file" #file>
                <img placement="bottom" ngbTooltip="Clique aqui para selecionar sua foto de Perfil"
                  src="assets/img/theme/default-avatar.png" *ngIf="!entity.imagem && !img" class="rounded-circle" (click)="file.click();">
                <img placement="bottom" ngbTooltip="Clique aqui para selecionar sua foto de Perfil" *ngIf="img" [src]="img" #img (error)="img.src  = 'assets/img/theme/default-avatar.png'" class="rounded-circle" (click)="file.click();">
                <img placement="bottom" ngbTooltip="Clique aqui para selecionar sua foto de Perfil" [src]="entity.imagem | getFile" #img (error)="img.src  = 'assets/img/theme/default-avatar.png'" *ngIf="entity.imagem" class="rounded-circle" (click)="file.click();">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a> -->
            <!-- <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a> -->
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <!-- <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div> -->
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{ entity.nome }}<span class="font-weight-light"></span>
            </h3>
            <!-- <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Bucharest, Romania
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
            <hr class="my-4" />
            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all
              of his own music.</p>
            <a href="javascript:void(0)">Show more</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Minha Página</h3>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-sm btn-primary" (click)="save()">Salvar</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Informações</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nome Completo</label>
                    <input type="text" [(ngModel)]="entity.nome" name="nome" required class="form-control">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">CPF</label>
                    <input type="text" required yn-mask="NNN.NNN.NNN-NN" placeholder="###.###.###-##" [(ngModel)]="entity.cpf" name="cpf" class="form-control">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Apelido</label>
                    <input type="text" [(ngModel)]="entity.apelido" name="apelido" required class="form-control">
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Data Nascimento</label>
                    <div class="input-group">
                      <input class="form-control" name="data_nascimento" [(ngModel)]="entity.data_nascimento" #dateInput yn-mask-date="dd/mm/yyyy">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Whatsapp</label>
                    <input type="text" required yn-mask="+55 (NN) NNNN-NNNN" placeholder="+55 (##) ####-####"  [(ngModel)]="entity.celular" name="celular" class="form-control">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control" placeholder="Last name" value="Jesse">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <!-- <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control" placeholder="Home Address"
                      value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control" placeholder="City" value="New York">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control" placeholder="Country"
                      value="United States">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control" placeholder="Postal code">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" /> -->
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Sobre mim</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>Bio</label>
                <textarea rows="4" class="form-control"
                  placeholder="Caso queira, você pode adicionar uma bio ao seu perfil." [(ngModel)]="entity.bio" name="bio"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>