<div class="card shadow">
  <div class="card clickable" [routerLink]="['detail', item.key]">
    <img class="card-img-top" *ngIf="!item.analysis_study_image && !item.analysis_study_video" src="https://via.placeholder.com/1850x880?text=1850px/880px" alt="Card image cap">
    <img class="card-img-top" *ngIf="item.analysis_study_image" [src]="item.analysis_study_image" alt="Card image cap">

    <video width="100%" height="100%" *ngIf="item.analysis_study_video" controls controlsList="nodownload">
      <source [src]="item.analysis_study_video">
    </video>
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-auto">
          <!-- Avatar -->
          <a class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" [src]="global.generateAvatar(item.user.name)">
          </a>
        </div>
        <div class="col ml--2">
          <h4 class="mb-0">
            <a [routerLink]="['detail', item.key]">{{item.user.name }}</a>
          </h4>
          <small><b>{{ item.created_at | date:'dd/MM/yyyy HH:mm:ss' }}</b></small>
        </div>
        <!-- <div class="col-auto">
          <button type="button" [routerLink]="['detail', item.key]" class="btn btn-sm m-1 btn-primary text-uppercase">visualizar detalhes</button>
        </div> -->
      </div>
      <div class="row">
        <div class="col">
          <hr class="mt-1 mb-1">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <!-- <h4 class="text-uppercase">Tipo de Mercado: <b *ngIf="item.market_type">{{item.market_type | uppercase}}</b></h4> -->
          <h3 *ngIf="item.coin_pair">
            <b class="text-success" ngbTooltip="Par de moedas utilizado para a análise">
              {{ item.coin_pair.name }}
            </b>
            <ng-container *ngIf="item.operation_type">
              {{ item.operation_type | uppercase }}
            </ng-container>

          </h3>
          <!-- <h4 *ngIf="item.leverage_type" class="text-uppercase">tipo de alavancagem: <b>{{ item.leverage_type }}</b></h4> -->
          <!-- <h4 *ngIf="item.enter_price_in && item.enter_price_out" class="text-uppercase">
            preços de entrada:
            <b>
              <ng-container *ngIf="item.operation_price_type == 'dolar'">
                $ {{ item.enter_price_in }} - $ {{ item.enter_price_out }}
              </ng-container>
              <ng-container *ngIf="item.operation_price_type == 'sats'">
                SATS {{ item.enter_price_in }} - SATS {{ item.enter_price_out }}
              </ng-container>
            </b>
          </h4> -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5>Resumo da Tomada de Decisão</h5>
          <p *ngIf="item.summary">{{ item.summary | truncate:100 }}</p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">

          <button class="btn btn-sm btn-warning m-2" *ngIf="item.risk_return">Risco/Retorno:
            {{ item.risk_return }}
          </button>
          
          <button class="btn btn-sm btn-danger m-2" *ngIf="item.stop_loss">Stop Loss:
            <ng-container *ngIf="item.operation_price_type == 'dolar'">
              $ {{ item.stop_loss }}
            </ng-container>
            <ng-container *ngIf="item.operation_price_type == 'sats'">
              SATS {{ item.stop_loss }}
            </ng-container>
          </button>

          <button class="btn btn-sm btn-info m-2" *ngIf="item.enter_price_in">Entrada Inicial:
            <ng-container *ngIf="item.operation_price_type == 'dolar'">
              $ {{ item.enter_price_in }}
            </ng-container>
            <ng-container *ngIf="item.operation_price_type == 'sats'">
              SATS {{ item.enter_price_in }}
            </ng-container>
          </button>

          <button class="btn btn-sm btn-info m-2" *ngIf="item.enter_price_out">Entrada Final:
            <ng-container *ngIf="item.operation_price_type == 'dolar'">
              $ {{ item.enter_price_out }}
            </ng-container>
            <ng-container *ngIf="item.operation_price_type == 'sats'">
              SATS {{ item.enter_price_out }}
            </ng-container>
          </button>

          <!-- <button class="btn btn-sm btn-warning text-uppercase  m-2" *ngIf="item.leverage">alavancagem: {{ item.leverage }}X</button> -->
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" [routerLink]="['detail', item.key]" class="btn btn-sm m-1 btn-block btn-primary text-uppercase">visualizar detalhes</button>
    </div>
    <!-- <div class="card-footer">
      <div class="row text-center">
        <div class="col-md-4">
          <small *ngIf="item.investiment_risk_initial">
            <b class="text-success">
              {{ item.investiment_risk_initial }}%
            </b>
          </small>
          <small class="text-uppercase">Conservador</small>
        </div>
        <div class="col-md-4">
          <small *ngIf="item.investiment_risk_medium"><b class="text-warning">
              {{ item.investiment_risk_medium }}%
            </b>
          </small>
          <small class="text-uppercase">Moderado</small>
        </div>
        <div class="col-md-4">
          <small *ngIf="item.investiment_risk_advance"><b class="text-danger">
              {{ item.investiment_risk_advance }}%
            </b>
          </small>
          <small class="text-uppercase">Arrojado</small>
        </div>
      </div>
    </div> -->
  </div>
</div>