<div class="card card-stats mb-4 mb-lg-0 mt-4" [ngClass]="{'disabled-card': disabled}">
  <div class="card-body">
    <div class="row">
      <div class="col text-truncate">
        <span class="h2 font-weight-bold mb-0 text-uppercase text-truncate">{{ name }}</span>
      </div>
      <div class="col-auto" [ngbTooltip]="name">
        <div class="icon icon-shape {{ class }} text-white rounded-circle shadow">
          <i class="{{ icon }} text-white"></i>
        </div>
      </div>
    </div>
    <p class="mt-3 mb-0 text-muted text-sm">
      <button type="button" class="btn {{btnClass}} btn-sm text-uppercase" [disabled]="disabled" [routerLink]="route">{{ text }}</button>
    </p>
  </div>
</div>